#
# /lib/systemd/system/n1mm_view_dashboard.service
#
# systemd startup file for n1mm_view dashboard service
#

[Unit]
Description=N1MM View Dashboard process
After=gettty@tty5.service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/n1mm_view

# Wait until we startup dashboard
#ExecStartPre=/bin/sleep 30 
ExecStart=/home/pi/n1mm_view/dashboard.py
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty5
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
