# Change this file name to n1mm_view.ini and put it in ONLY one of the following three locations:
#      ~/.config/n1mm_view.ini
#      ~/n1mm_view.ini
#      <script directory>/n1mm_view.ini
# If you have the file in more than one of those locations, the script will abort with an error message.
# This is to avoid multiple ini files making it harder to know where the settings are being read.

# This is where you should set you local options for your site. At a minimum, change the following:
# Under EVENT_INFO,
#   set Name to something like <Your CLub Name> Field Day or WInter Field Day
#   set the START_TIME and END_TIME
#   set you QTH_ coordinates if you want to see a pin on the map
# Optionally, set the LOGO_FILENAME to the proper logo
#    For Winter Field Day, wget https://winterfieldday.org/img/wfda_logo.png
#    For ARRL Field Day, grab the new logo each year
#    If you are using the headless.py script to generate graphics to load to your website, 
#    modify the POST_FILE_COMMAND to rsync the files or run a script if you want to do multiple steps.
#    If you use a script like postCommands.sh, make it executable with chmod +x postCommands.sh



[GLOBAL]
DATABASE_FILENAME = n1mm_view.db
DISPLAY_DWELL_TIME = 6
DATA_DWELL_TIME = 60
HEADLESS_DWELL_TIME = 120
LOG_LEVEL = INFO
LOGO_FILENAME = /home/pi/wfda_logo.png

[EVENT INFO]
NAME = Field Day
START_TIME = 2025-01-25 15:00:00
END_TIME = 2025-01-26 20:59:59
QTH_LATITUDE = 27.9837941202094249
QTH_LONGITUDE = -82.74670114956339

[N1MM INFO]
BROADCAST_PORT = 12060
BROADCAST_ADDRESS = 192.168.1.255 
LOG_FILE_NAME = FD2024-N4N.s3db

[HEADLESS INFO]
; Set IMAGE_DIR to None or the name of a directory on the system to write files. Note if using a Pi with an SD card only, use the ramdisk setup in the install process.
; A sample value could be /mnt/ramdisk/n1mm_view/html
IMAGE_DIR = None

; The POST_FILE_COMMAND is used is to execute this command. You can use it to call rsync or a script.
#POST_FILE_COMMAND = rsync -avz /mnt/ramdisk/n1mm_view/html/* user@sshserver:www/n1mm_view/html

[FONT INFO]
# If font seems too big, try 60 for VIEW_FONT and 100 for BIGGER_FONT
VIEW_FONT = 64
BIGGER_FONT = 180
